body {
    background-color:rgb(87, 130, 86);
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

#introtext{
    color :rgb(195, 149, 25); 
}

.highlight{
    color:rgb(42, 116, 165); 
    font-weight: bold;
}

#introContainer{
    width: 470px;
}

#introPicture {
    float left;
}